table {
    border-collapse: collapse;
    width: 70%;
  }
  
  th, td {
    padding: 8px;
    text-align: left;
    border-bottom: 1px solid #ddd;
  }
  
th{
    font-size: 1.3em;
    text-transform: capitalize;
}

  td a{
      text-decoration: none;
      color: #009baa;
      font-weight: bold;
      font-size: 1.1em;
  }
  
  tr:hover {background-color:#f5f5f5;}

  .cancel input{
    padding: 0.6em 0.2em 0.6em 0.2em;
    margin: 0;
  }