.content{
    padding: 3em 0;
    width: 100%;
    background-color: #fefefe;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: "Arial";
}

.content h2{
    color: #9b9b9b;
    font-size: 2em;
}

.profile-top{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin-left: -10em;
}

.profile-image{
    width: 35%;
    height: auto;
}

.profile-image img{
    width: 100%;
    height: auto;
}

.data{
    padding: 2em;
    text-decoration: none;
	color: #9b9b9b;
	font-size: 1.2em;
	border-radius: 1em;
	margin: 2em;
	width: 52%;
    height: 10em;
    margin-left: 8em;
	justify-content: center;
	align-items: center;
	-webkit-box-shadow: 2px 3px 23px -2px rgba(0,0,0,0.17);
	-moz-box-shadow: 2px 3px 23px -2px rgba(0,0,0,0.17);
	box-shadow: 2px 3px 23px -2px rgba(0,0,0,0.17);
}

.check-consults{
    margin-top: 2em;
}

.check-consults a{
    background-color: #52b6c4;
    padding: 2em;
    text-decoration: none;
	color: #fefefe;
	font-size: 1.2em;
	border-radius: 0.3em;
	margin: 2em;
	width: 52%;
    height: 10em;
    
	justify-content: center;
	align-items: center;
	-webkit-box-shadow: 2px 3px 23px -2px rgba(0,0,0,0.17);
	-moz-box-shadow: 2px 3px 23px -2px rgba(0,0,0,0.17);
	box-shadow: 2px 3px 23px -2px rgba(0,0,0,0.17);
}

.cancel input{
    margin-top: 1em;
    border-radius: 5px;
    background-color: red;
    border: none;
    padding: 1em .5em 1em .5em;
    color: #fff;
    font-weight: bold;
    font-size: 1.2em;
}